{
  "semi": true,
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "useTabs": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "trailingComma": "all"
}
